<div class="container">
    <h1>QUOTES</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <ul>
            <div *ngFor='let quote of quotes;let i=index'>
                <li>{{quote.name}} posted on {{quote.postedDate|date|uppercase}} </li>
                <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
                <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete)='deleteQuote($event,i)' ></app-quote-detail>
            </div>
            </ul>
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)" ></app-quote-form>  
        </div>
    </div>
  </div>